on boot
    setprop ro.radio.use-ppp yes
    setprop ro.build.product SPH-M910
    setprop ro.product.device SPH-M910
    setprop ro.radio.noril yes

service apollo-setup /system/etc/init.SPH-M910.sh
    oneshot

